{{  if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
#
# Install Ansible on supported Linux distro
#

{{-   if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf -y install ansible
{{-   else if eq .chezmoi.osRelease.id "opensuse-tumbleweed" }}
sudo zypper --non-interactive in ansible
{{-   end }}

echo "Update Ansible Collecions"
ansible-galaxy collection install -U community.general
{{- end }}
