#!/usr/bin/env bash
#
# init.sh - install necessary packages for custom chezmoi scripts
#

# install ansible, gum and kitty
echo ":: Installing necessary packages for chezmoi scripts"
sudo dnf -y install ansible gum kitty

