#!/bin/bash
echo "Setting up hostname"
if [[ "$(hostnamectl hostname)" != {{ .ws_hostname  | quote }} ]]; then
	sudo hostnamectl hostname {{ .ws_hostname }}
fi

echo "Enabling gpg-agent"
systemctl --user enable --now gpg-agent.socket
systemctl --user enable --now gpg-agent-ssh.socket

echo "Setting default browser"
xdg-settings set default-web-browser org.mozilla.firefox.desktop

echo "Loading dconf settings"
# dot_config/dconf/custom-settings.ini hash: {{ include "dot_config/dconf/custom-settings.ini" | sha256sum }}
dconf load / < "/home/$USER/.config/dconf/custom-settings.ini"
