#!/usr/bin/env bash
#
# Install Ansible on supported Linux distro
#

# Identify distro
. /etc/os-release

echo "Install Ansible for $PRETTY_NAME"

case $ID in

  fedora)
    sudo dnf -y install ansible
    ;;

  opensuse-tumbleweed)
    sudo zypper --non-interactive in ansible
    ;;

  *)
    echo "Distribution $PRETTY_NAME unsupported"
    exit 1
    ;;
    
esac

echo "Update Ansible Collecions"
ansible-galaxy collection install -U community.general

